*

!.gitignore
!CMakeLists.txt
!newlab
!logo.png
!logo.svg
!logo_small.png
!logo3_small.svg
!README.md

!old_field_solver/
!old_field_solver/*
!old_field_solver/boundaryconditions/
!old_field_solver/boundaryconditions/*
!old_field_solver/multiarray/
!old_field_solver/multiarray/*

!include/
!include/**/*.hpp
!include/apt/
!include/apt/*.hpp
!include/kernel/
!include/kernel/*.hpp
!include/utility/
!include/utility/*.hpp
!include/io/
!include/io/*.hpp
!include/parallel/
!include/parallel/*.hpp
!include/particle/
!include/particle/*.hpp
!include/field/
!include/field/*.hpp

!src/
!src/CMakeLists.txt
!src/**/*.cpp
!src/aperture/
!src/aperture/*.hpp
!src/aperture/*.cpp
!src/utility/
!src/utility/*.cpp
!src/io/
!src/io/*.cpp
!src/parallel/
!src/parallel/*.cpp
!src/particle/
!src/particle/*.cpp
!src/field/
!src/field/*.cpp

!tests/
!tests/CMakeLists.txt
!tests/catch_main.cpp
!tests/apt
!tests/apt/*
!tests/aperture
!tests/aperture/*.cpp
!tests/utility/
!tests/utility/*.cpp
!tests/io
!tests/io/*
!tests/kernel
!tests/kernel/*
!tests/particle
!tests/particle/*
!tests/parallel
!tests/parallel/*
!tests/field/
!tests/field/*.cpp

!tools/
!tools/**/*

!cmake/Modules
!cmake/Modules/**

!LICENSE

!python/
python/*
!python/scripts/
!python/scripts/**/*.py
python/scripts/siloReader.py
python/scripts/snapshotReader.py
