*

!.gitignore
!CMakeLists.txt
!newlab
!logo.png
!logo.svg
!logo_small.png
!logo3_small.svg
!README.md

!include/
!include/**/*.hpp
!include/apt/
!include/apt/*.hpp
!include/kernel/
!include/kernel/*.hpp
!include/utility/
!include/utility/*.hpp
!include/export/
!include/export/*.hpp
!include/parallel/
!include/parallel/*.hpp
!include/particle/
!include/particle/*.hpp
!include/field/
!include/field/*.hpp

!src/
!src/**/*.cpp
!src/utility/
!src/utility/*.cpp
!src/export/
!src/export/*.cpp
!src/parallel/
!src/parallel/*.cpp
!src/particle/
!src/particle/*.cpp
!src/field/
!src/field/*.cpp

!tests/
!tests/**/*

!tools/
!tools/**/*

!cmake/Modules
!cmake/Modules/**

!LICENSE

!python/
python/*
!python/scripts/
!python/scripts/**/*.py
python/scripts/siloReader.py
python/scripts/snapshotReader.py
