*

!.gitignore
!CMakeLists.txt
!newlab
!logo.png
!logo.svg
!logo_small.png
!logo3_small.svg
!README.md

!include/
!include/**/*.hpp
!include/core/
!include/core/*.hpp
!include/utility/
!include/utility/*.hpp
!include/export/
!include/export/*.hpp
!include/parallel/
!include/parallel/*.hpp
!include/particle_module/
!include/particle_module/*.hpp
!include/field_module/
!include/field_module/*.hpp

!src/
!src/**/*.cpp
!src/core/
!src/core/*.cpp
!src/utility/
!src/utility/*.cpp
!src/export/
!src/export/*.cpp
!src/parallel/
!src/parallel/*.cpp
!src/particle_module/
!src/particle_module/*.cpp
!src/field_module/
!src/field_module/*.cpp

!tests/
!tests/**/*

!tools/
!tools/**/*

!cmake/Modules
!cmake/Modules/**

!LICENSE

!python/
python/*
!python/scripts/
!python/scripts/**/*.py
python/scripts/siloReader.py
python/scripts/snapshotReader.py
