*

!.gitignore
!CMakeLists.txt

!picgen/
!picgen/CMakeLists.txt
!picgen/*.hpp
!picgen/*.cpp
!picgen/old_field_solver/
!picgen/old_field_solver/*
!picgen/old_field_solver/boundaryconditions/
!picgen/old_field_solver/boundaryconditions/*
!picgen/old_field_solver/multiarray/
!picgen/old_field_solver/multiarray/*

!dye/
!dye/*

!data_exporter/
!data_exporter/*

!include/
!include/**/*.hpp
!include/apt/
!include/apt/*.hpp
!include/kernel/
!include/kernel/*.hpp
!include/utility/
!include/utility/*.hpp
!include/io/
!include/io/*.hpp
!include/parallel/
!include/parallel/*.hpp
!include/particle/
!include/particle/*.hpp
!include/field/
!include/field/*.hpp

!src/
!src/CMakeLists.txt
!src/**/*.cpp
!src/utility/
!src/utility/*.cpp
!src/io/
!src/io/*.cpp
!src/io/FindSilo.cmake
!src/parallel/
!src/parallel/*.cpp
!src/particle/
!src/particle/*.cpp
!src/field/
!src/field/*.cpp

!tests/
!tests/CMakeLists.txt
!tests/all_in_one.hpp
!tests/catch_main.cpp
!tests/catch_main_mpi++.cpp
!tests/apt
!tests/apt/*
!tests/dye
!tests/dye/*.cpp
!tests/utility/
!tests/utility/*.cpp
!tests/io
!tests/io/*
!tests/kernel
!tests/kernel/*
!tests/particle
!tests/particle/*
!tests/parallel
!tests/parallel/*
!tests/field/
!tests/field/*.cpp

# !python/
# python/*
# !python/scripts/
# !python/scripts/**/*.py
# python/scripts/siloReader.py
# python/scripts/snapshotReader.py
